#!/usr/bin/env bash

# Removes branches that no longer exist in remote but are still present locally (gru is shorthand for git remove untracked).
alias gru="git fetch --prune && git branch -r | awk '{print \$1}' | egrep -v -f /dev/fd/0 <(git branch -vv | grep origin) | awk '{print \$1}' | xargs git branch -D"

# Shortcuts to commonly used folders.
alias dl="cd ~/Downloads"
alias dk="cd ~/Desktop"
alias rks="cd ~/Movies/RocketSim"
alias dotfiles="cd $DOTFILES_SOURCE"

# Use a long listing format.
alias ll='ls -la'
 
# Show hidden files.
alias l.='ls -d .*'

# Handy shortcuts.
alias c='clear'
alias h='history'
alias j='jobs -l'
alias g='git'

# Easy navigation to parent folders.
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias .2='cd ../..'
alias .3='cd ../../..'
alias .4='cd ../../../../'
alias .5='cd ../../../../..'

# Colorize the grep command output for ease of use (good for log files).
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

# Opens the file that was last modified in the folder (only works on macOS).
alias openlast='ls -t | head -1 | tr \\n \\0 |  xargs -0 open'

# Opens the file that was last modified in the folder with vim.
alias vimlast='ls -t | head -1 | tr \\n \\0 |  xargs -o vim'

# Distinguish official's Apple swift-format from Nicklockwood's swiftformat.
alias apple_swiftformat='swift-format'

# Flutter util alias to analyze and run all tests in project with coverage.
alias fluttercheck='flutter analyze && flutter test --coverage'

# Flutter util alias to format, analyze and run all tests in project with
# coverage.
alias flutterci='flutter format . && flutter analyze && flutter test --coverage'

# Flutter util alias to analyze and run all tests in project with coverage,
# then generate the coverage info site with genhtml and open it.
alias fluttercoverage='flutter analyze && flutter test --coverage && genhtml coverage/lcov.info -o coverage/html/ && open coverage/html/index.html'

# Removes Xcode's DerivedData, resetting builds and cached dependencies.
alias rmderived='rm -rf ~/Library/Developer/Xcode/DerivedData/'

# Removes Xcode's Swift Package Manager caches.
alias rmspm='rm -rf ~/Library/Caches/org.swift.swiftpm/ && rm -rf ~/Library/org.swift.swiftpm/'

# Closes Xcode, removes DerviedData, removes SPM caches, and opens Xcode,
# loading a .xcworkspace or .xcodeproj in the current folder.
alias resetxcode='killall Xcode && rmderived && rmspm && xed .'
