#!/usr/bin/env bash

# Shortcuts to commonly used folders.
alias dl="cd ~/Downloads"
alias dk="cd ~/Desktop"
alias rks="cd ~/Movies/RocketSim"
alias dotfiles="cd $DOTFILES_SOURCE"

# Use a long listing format.
alias ll='ls -la'
 
# Show hidden files.
alias l.='ls -d .*'

# Handy shortcuts.
alias c='clear'
alias h='history'
alias j='jobs -l'
# __git_complete is needed so that git completion works when aliasing git to g.
# Before running git complete, we need to manually download the git-completion
# script and execute it.
curl -s https://raw.githubusercontent.com/git/git/master/contrib/completion/git-completion.bash -o ~/.git-completion.bash
. ~/.git-completion.bash
alias g='git'
__git_complete g __git_main

# Easy navigation to parent folders.
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias .2='cd ../..'
alias .3='cd ../../..'
alias .4='cd ../../../../'
alias .5='cd ../../../../..'

# Colorize the grep command output for ease of use (good for log files).
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

# Opens the file that was last modified in the folder (only works on macOS).
alias openlast='ls -t | head -1 | tr \\n \\0 |  xargs -0 open'

# Opens the file that was last modified in the folder with vim.
alias vimlast='ls -t | head -1 | tr \\n \\0 |  xargs -o vim'

# Distinguish official's Apple swift-format from Nicklockwood's swiftformat.
alias apple_swiftformat='swift-format'

# Flutter util alias to analyze and run all tests in project with coverage.
alias fluttercheck='flutter analyze && flutter test --coverage'

# Flutter util alias to format, analyze and run all tests in project with
# coverage.
alias flutterci='flutter format . && flutter analyze && flutter test --coverage'

# Flutter util alias to analyze and run all tests in project with coverage,
# then generate the coverage info site with genhtml and open it.
alias fluttercoverage='flutter analyze && flutter test --coverage && genhtml coverage/lcov.info -o coverage/html/ && open coverage/html/index.html'

# Removes Xcode's DerivedData, resetting builds and cached dependencies.
alias rmderived='rm -rf ~/Library/Developer/Xcode/DerivedData/'

# Removes Xcode's Swift Package Manager caches.
alias rmspm='rm -rf ~/Library/Caches/org.swift.swiftpm/ && rm -rf ~/Library/org.swift.swiftpm/'

# Fetches and resolves SPM dependencies for the Xcode project in the current folder.
alias resolvespm='xcodebuild -resolvePackageDependencies'

# Removes Xcode's Swift Package Manager caches and re-fetches them.
alias resetspm='rmspm && resolvespm'

# Closes Xcode, removes DerviedData, resets SPM dependencies, and opens Xcode,
# loading a .xcworkspace or .xcodeproj in the current folder.
alias resetxcode='killall Xcode && rmderived && resetspm && xed .'
