[alias]
	# Displays a nice graph of commits and authors
	graph = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'

	# Displays a graph comparing two branches, to see the commits that are
	# in a branch and not in the other one. It includes a < or > arrow at
	# the front of each commit indicating whether the commit is on the left
	# or right branch.
	# Usage: git branchcompare left-branch...right-branch
	branchcompare = log --left-right --graph --cherry-pick --oneline 

	# Updates submodules recursively
	su = submodule update --init --recursive
	
	# Lists currently used aliases
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /

	# Displays the status in a short format
	st = status -sb

	# Shorthand for worktree
	wt = worktree

	# Displays the log only of the latest commit
	last = log -1 HEAD --stat

	# Opens side-by-side diff comparison
	dv = difftool -t vimdiff -y
	
	# Search for commited code in the git history
	se = !git rev-list --all | xargs git grep -F

	# Copies the commit that HEAD points to.
	cpcm = !git log | head -1 | awk '{print $2}' | pbcopy

	# Shows the name of the current branch
	cb = branch --show-current

	# Copies the name of the current branch
	cpcb = ! git branch --show-current | pbcopy

	# Pushes the current branch to origin, setting upstream (upstream push)
	up = ! git push -u origin $(git branch --show-current)

	# Diff with the previous commit
	prev = diff HEAD~1

	# Performs a pull operation, then updates submodules recursively
	psu = !git pull && git submodule update --init --recursive

	# Checkout
	co = checkout

	# Commit everything
	ca = commit -a

	# Add everything on the current folder and commit
	acm = ! git add . && git commit

	# Commit amending all, without editing the commit message
	amend = ! git add . && git commit --amend --no-edit
	
	# Add all, commit amending without editing the commit message, then push
	# forcing
	force = !git add . && git commit --amend --no-edit && git push -f

	# Remove untracked files, including directories (-d) and files ignored by
	# git (-x), with no dry-run (-f)
	clear = clean -d -x -f

	# Short way of calling git diff
	d = diff

	# Returns the default branch for the current git project.
	defaultbranch = "!FIRST_REMOTE=$(git remote | head -1); git remote show $FIRST_REMOTE | sed -n '/HEAD branch/s/.*: //p'"

	# Fetches the default branch from the first remote and updates the local
	# default branch, without checking out the default branch. This command
	# should be ran from a branch different from the default branch.
	# The shorthand `pd` stands for "pull default".
	pd = "!DEFAULT_BRANCH=$(git defaultbranch); FIRST_REMOTE=$(git remote | head -1); git fetch $FIRST_REMOTE $DEFAULT_BRANCH:$DEFAULT_BRANCH"

    # Squashes all the commits in the current branch against the default branch.
	# Then, commits the result, prompting for a commit message.
	squash = "!git reset --soft $(git defaultbranch); git add . && git commit"

    # Pulls the default branch, squashes all the commits in the current branch
	# against it, and rebases the squashed commit so that it's up to date with
	# the latest changes in the default branch.
	# The shorthand `prprepare` stands for "pull request prepare".
	prprepare = "!git pd; git squash; git rebase $(git defaultbranch)"

	# Find branches containing commit
	fb = "!f() { git branch -a --contains $1; }; f"

	# Find tags containing commit
	ft = "!f() { git describe --always --contains $1; }; f"

	# Find commits by source code
	fc = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short -S$1; }; f"

	# Find commits by commit message
	fm = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short --grep=$1; }; f"

	# Removes branches that no longer exist in the remote but are still present
	# locally.
	# The shorthand `ru` stands for "remove untracked".
	ru = !git fetch -p && git branch -vv | grep 'origin/.*: gone]' | awk '{print $1}' | xargs git branch -D

	# Checks out the default branch, pulls it, and removes branches that no
	# longer exist in the remote but are still present locally.
	# The shorthand `pp` stands for "pull pruning".
	pp = !git checkout $(git defaultbranch) && git psu && git ru

	# List contributors with number of commits.
	contributors = shortlog --summary --numbered

	# Show the user email for the current repository.
	whoami = config user.email

	# Ignore a file only locally, without polluting .gitignore of the project
	ignore = update-index --assume-unchanged

	# Unignore a file only locally, without polluting .gitignore of the project
	unignore = update-index --no-assume-unchanged

	# List the files ignored only locally
	ignored = !git ls-files -v | grep "^[[:lower:]]"
[http]
	sslVerify = true
[core]
	# This is a user-level .gitignore. Git will ignore whatever I put in
	# this ~/.gitignore file by default for every Git project on the
	# machine.
	excludesfile = ~/.gitignore
[mergetool]
	# Stops saving `.orig` backup files after resolving merge conflicts
	keepBackup = false
