# The .private file, which is meant for private configurations, scripts or
# notes that I don't want to share in a project.
.private

# Folder view configuration files.
.DS_Store
Desktop.ini

# Thumbnail cache files.
._*
Thumbs.db

# Files that might appear on external disks.
.Spotlight-V100
.Trashes

# Vim swap files.
*~
.*.sw?
.sw?

# Merge conflicts original backup files.
*.orig
